/* #f6f6f7 #A4A6AC #D4C4B4 #5E5353 #1E1714 #5A497E #FEA31F #FBBC2E*/

/* #212529 #343a40 #e9ecef */

* {
  font-size: 16px;
}

.app {
  background: #f6f6f7;
  display: flex;
  padding: 30px;
}

.app__dark {
  background: #212529;
  color: #e9ecef;
}

@media screen and (max-width: 1015px) {
  .app {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 12px;
  }

  .app {
    padding: 20px;
  }
}
