/* 

Main colors:
1. #efefef
2. #A4A6AC
3. #FBBC2E
4. #212529
5. #343a40 
6. #e9ecef 

*/

* {
  font-size: 16px;
}

.app {
  background: #efefef;
  display: flex;
  padding: 30px;
  height: 100%;
  box-sizing: border-box;
}

.app__dark {
  background: #212529;
  color: #e9ecef;
}

@media screen and (max-height: 1110px) {
  #root {
    height: auto;
  }

  .app {
    height: auto;
  }
}
@media screen and (max-width: 1015px) {
  .app {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 12px;
  }

  .app {
    padding: 20px;
  }
}

@media screen and (max-height: 1140px) {
  .app {
    height: 100%;
  }
}
