.sidebar {
  flex: 3;
  flex-grow: 0;
  background: #fff;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.sidebar__dark {
  background: #343a40;
}

.sidebar_search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_search > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_search > div img {
  height: 18px;
  margin-right: 10px;
}

.sidebar__dark .sidebar_search > div img {
  filter: invert(1);
}

.sidebar_search > img {
  height: 24px;
  cursor: pointer;
}

.sidebar_search input {
  border: none;
  color: inherit;
  outline: none;
  font-size: 1.4em;
  margin-right: 10px;
  border-bottom: 1px solid #f2f2f1;
  background: transparent;
}

.weatherInfo_image {
  display: flex;
}

.weatherInfo_image img {
  width: 85%;
  margin: 20px auto;
  max-width: 250px;
}

.weatherInfo_desc {
  display: flex;
  flex-direction: column;
}

.weatherInfo_desc h2 {
  margin: 0 0 10px;
  font-size: 4em;
  font-weight: 400;
}

.weatherInfo_desc p {
  margin: 0;
  color: #a4a6ac;
}

.weatherInfo_desc hr {
  height: 2px;
  border: none;
  background: #f6f6f7;
  margin: 10px 0;
  width: 100%;
}

.weatherInfo_desc__meta1 {
  margin: 0 0 20px;
}

.weatherInfo_geoposition > div {
  position: relative;
  overflow: hidden;
  height: 120px;
  border-radius: 25px;
}

.weatherInfo_geoposition > div:after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.weatherInfo_geoposition img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}

.weatherInfo_geoposition p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -115%);
  font-weight: 600;
  color: white;
  z-index: 2;
  font-size: 1.2em;
  width: max-content;
}

@media screen and (max-width: 1015px) {
  .sidebar {
    flex-direction: column;
    width: auto;
    border-radius: 20px;
    align-self: center;
  }

  .sidebar_search {
    align-self: center;
  }

  .weatherInfo {
    display: flex;
  }

  .weatherInfo_desc {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .weatherInfo {
    align-items: center;
    margin-top: 30px;
  }
}
