.weather {
  flex: 11;
  padding: 35px;
}

.weather_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather_head h3 {
  margin: 0 20px 0;
  font-size: 1.9em;
}

.weather_head span {
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.weather_head__tmpSwitcher span {
  cursor: pointer;
}

.weather_head__tmpSwitcher > .weather_head__active {
  background: #000;
  color: #fff;
}

.weather5days {
  margin-top: 30px;
  display: flex;
  width: 68vw;
  overflow-y: auto;
}

.weather5days > div {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  align-items: center;
  border-radius: 20px;
  margin-right: 20px;
}

.weather5days > div > h5 {
  font-size: 1.1em;
  margin: 0;
}

.weather5days > div > p {
  color: #a4a6ac;
  margin: 5px 0 15px;
  font-size: 0.9em;
}

.weather5days > div > img {
  margin-bottom: 15px;
}

.weather5days section span:last-child {
  margin-left: 5px;
  color: #a4a6ac;
}

.weatherMetoToday {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.weatherMetoToday > div {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weatherMetoToday h4 {
  color: #a4a6ac;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.weatherMetoToday_wind p {
  font-size: 2.5em;
  margin: 20px 0;
}

.weatherMetoToday_wind img {
  align-self: flex-start;
  height: 40px;
}

.weatherMetoToday_sun section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.weatherMetoToday_sun h4 {
  margin-bottom: 30px;
}

.weatherMetoToday_sun section img {
  height: 35px;
  margin-right: 10px;
}

.weatherMetoToday_sun section span {
  font-size: 1.2em;
}

.weatherMetoToday_humidity p {
  font-size: 2.5em;
}

.weatherMetoToday_humidity > div {
  width: 100%;
  height: 10px;
  background: #32cf7b;
  border-radius: 20px;
}

.weatherMetoToday_visibility p {
  font-size: 2.5em;
}

.weatherMetoToday_visibility > div {
  width: 100%;
  height: 10px;
  background: #32cf7b;
  border-radius: 20px;
}

@media screen and (max-width: 1260px) {
  .weather5days {
    width: 60vw;
  }
}

@media screen and (max-width: 1015px) {
  .weather5days {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .weather {
    padding: 35px 0;
  }

  .weatherMetoToday {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .weather5days > div {
    padding: 20px 15px;
  }

  .weatherMetoToday_wind p {
    font-size: 2.3em;
  }

  .weatherMetoToday_sun section {
    margin-top: 10px;
  }
}
