@font-face {
  font-family: "Bitter";
  src: url("./assets/fonts/Bitter/static/Bitter-Regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Bitter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}
